<%- include('partials/header') %>

<nav class="navbar navbar-expand-lg navbar-light bg-dark navbar-res">
    <i class="fab fa-pied-piper fa-2x logo-dash"></i>
    <a class="nav-link text-light navbar-dash" href="#"><%=date%></a>
    <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-user-circle text-light profile"></i>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <div class="expand-res">
            <li class="nav-item">
              <a class="dropdown-item text-light" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item text-light" href="/newentry">Add New</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item text-light" href="/yearpicker">See A Entry</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item text-light" href="/logout">Log Out</a>
            </li>
        </div>
        <li class="nav-item dropdown profile-icon">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle text-light profile"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/dashboard">Dashboard</a>
            <a class="dropdown-item" href="/newentry">Add New</a>
            <a class="dropdown-item" href="/yearpicker">See A Entry</a>
            <a class="dropdown-item" href="/logout">Log Out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>


<h1 class="dashboard-heading">Add New Entry</h1>

<form action="/addnew" method="post">

    <div class="row add-entry-row">
        <div class="form-group row col-sm-12">
            <div class="col-sm-2">
                <span>Veggies :</span>
            </div>
            <div class="col-sm-10">
                <input type="text" class="form-control bg-dark text-center text-light" name="veggies" value="0">
            </div>
        </div>
        <div class="form-group row col-sm-12">
            <div class="col-sm-2">
                <span>Travel :</span>
            </div>
            <div class="col-sm-10">
                <input type="text" class="form-control bg-dark text-center text-light" name="travel" value="0">
            </div>
        </div>
        <div class="form-group row col-sm-12">
            <div class="col-sm-2">
                <span>Ration :</span>
            </div>
            <div class="col-sm-10">
                <input type="text" class="form-control bg-dark text-center text-light" name="ration" value="0">
            </div>
        </div>
        <div class="form-group row col-sm-12">
            <div class="col-sm-2">
                <span>Medicine :</span>
            </div>
            <div class="col-sm-10">
                <input type="text" class="form-control bg-dark text-center text-light" name="medicine" value="0">
            </div>
        </div>
    </div>
    <div class="form-group others-div rounded">
        <h3 style="margin-left: 40%;">Others</h3>
        <div class="row">
            <div class="col-sm-4">
                <span>Description:</span>
                <input type="text" class="form-control bg-dark text-light text-center"
                name="desc" placeholder="Desc">
            </div>
            <div class="col-sm-4">
                <span>Amount:</span>
                <input type="text" class="form-control bg-dark text-light text-center"
                name="amount" value="0">
            </div>
            <div class="col-sm-4">
                <span style="display: block;">Type:</span>
                <select class="bg-dark col-sm-10 form-control text-light" name="type">
                    <option>Expense</option>
                    <option >Income</option>
                </select>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-lg col-sm-9 add-btn login-button form-group">Select</button>
</form>

<%- include('partials/footer') %>