<%- include('partials/header') %>

        <div class="container">
          <i class="fab fa-pied-piper logo"></i>
          <h1 class="display-3 home-heading font-weight-bold">Balencevio</h1>
          <p class="lead  home-para">Track Your Income, expenses In real Time!</p>
          <div class="home-img"></div>
          <a class="btn login-button btn-res text-light rounded-pill btn-link btn-lg" href="/login" role="button">SIGN IN</a>

          <div class="flex-container">
              <div>
                <a class="btn text-light rounded-pill btn-link btn-lg btn-up" href="/login" role="button">SIGN IN</a>
              </div>
              <div class="register-home">
                <a class="btn text-light rounded-pill btn-link btn-lg btn-up" href="/register" role="button">SIGN UP</a>
              </div>
          </div>
        </div>
        
<%- include('partials/footer') %>